<form method="POST" action="{{ url_for('edit_user_admin', userid=user.user_id) if 'admin' in request.path else url_for('me') }}">
    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" value="{{ user.name }}" disabled   ><br>

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" value="{{ user.email }}" disabled><br>

    <label for="wcaid">WCA ID:</label>
    <input type="text" id="wcaid" name="wcaid" value="{{ user.wca_id }}" disabled><br>

    <label for="postnummer">Postnummer:</label>
    <input type="text" id="postnummer" name="postnummer" value="{{ user.postnummer if user.postnummer }}"><br>

    <label for="medlem">Medlemskab:</label>
    <input type="checkbox" id="medlem" name="medlem" {% if user.medlem %}checked{% endif %}><br>
    <p class="form_info">Du skal have dansk bopæl eller være dansk statsborger for at være medlem.</p>

    <label for="modtag_mails">Modtag mails fra DSF:</label>
    <input type="checkbox" id="modtag_mails" name="modtag_mails" {% if user.modtag_mails %}checked{% endif %}><br>

    <label for="sidste_comp">Sidste danske konkurrence:</label>
    <input type="text" id="sidste_comp" name="sidste_comp" value="{{ user.sidste_comp.date() }}" disabled><br>

    <input type="submit" value="Gem ændringer">
    </form>