{% extends 'base.html' %}

{% block content %}
   <h1>DSFs Medlemside</h1>
    <p>This site is still work in progress. There are two ways to authenticate, where at least one should work. The fastest way is to simply click the "Authenticate me!" me button below.</p>
    <a href="RGEk8XdUGFb41AkWX_k1XSGiVJDDfm7k9M&redirect_uri=https%3A%2F%2Fuser.danskspeedcubingforening.dk%2Fshow_token&response_type=token&scope=manage_competitions+public">
        <button>Log-ind gennem WCA (DSF)</button>
    </a> 
    
    <p></p>

    <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=-BowqxQ4-RGEk8XdUGFb41AkWX_k1XSGiVJDDfm7k9M&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Fshow_token&response_type=token&scope=manage_competitions+public">
        <button>Authenticate me! (Local Host)</button>
    </a> 

{% endblock %}