{% extends 'base.html' %}

{% block content %}
   <h1>DSF's Medlemside</h1>
    <p>
        Velkommen til DSF's side for medlemmer. Du kan her opdatere din medlemsstatus og andre oplysninger vedrørende dit medlemskab. Du skal oprette en konto gennem <a href="https://www.worldcubeassociation.org/">WCA</a> for at logge ind.
    </p>
    <a href="https://www.worldcubeassociation.org/oauth/authorize?client_id=-BowqxQ4-RGEk8XdUGFb41AkWX_k1XSGiVJDDfm7k9M&redirect_uri=https%3A%2F%2Fuser.danskspeedcubingforening.dk%2Fshow_token&response_type=token&scope=manage_competitions+public+email">
        <button>Log ind gennem WCA</button>
    </a> 

{% endblock %}